body {
  padding: 0;
  margin: 0;
}
body, #entry {
  background: url('blue.jpg') #FFF;
  color: #000;
}
body, table {
  font-family: "Helvetica Neue", sans-serif; 
  font-size: 14pt;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  line-height: 150%;
  padding:5px;
  border-radius: 5px;
  width:inherit;
  background:rgba(255,255,255,0.7);
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }
::-moz-selection,
::selection {
  color: inherit;
  background: hsl(324, 96%, 50%)#ffffff;
}
.header {
  font-weight:100;
  font-family: sans-serif;
  font-size:100px;
  text-shadow:1px 1px 2px #fff;
}
.center {
  text-align: center;
}
#app {
  width:900px;
  margin: 0 auto;
}
#loading, #connect {
  background: url('blue.jpg') #FFF;
  height: 100%;
  width: inherit;
  position: fixed;
  padding: 1em;
}

#loading { z-index: 10000000; }
#connect { z-index: 10000001; }

#loading p, #connect fieldset  {
  font-family: "Helvetica Neue", sans-serif; 
  border: 0;
  text-align:center;
}

#toolbar {
  position: fixed;
  color: #fff;
  width: inherit; 
  bottom: 0;
}

#entry {
  width: 100%;
  font-size: inherit;
  padding: 1em;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  clear: both;
  background:rgba(255,255,255,0.7);
}

#log {
  display: block;
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  padding-bottom: 5.1em; 
  background: inherit;
  overflow: hidden;
}

/* not very important info */
#nickInput {
  font-size: 30px;
  padding:10px;
  font-weight:lighter;
}
.notice td, .join td, .part td, .message .date { color: #555; }
.error td { color: #933; }
.personal .nick, .notice .nick { color: #cd5; }

.message {
  margin: 0.1em 0;
}

.message td {
  vertical-align: top;
}

.nick { 
  font-weight: bold;
  padding: 0 1em 0 0.5em;
}

.nick a {
  color: inherit;
}
#status {
    background: #733;
    clear:both;
}
#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar li {
  display: inline-block; 
  margin: 0 2em 0 0;
}

#usersLink {
  color: inherit;
}
