#connect
	#map_canvas	
	form#joinForm
		input(id="aliasInput", class="text", type="text", name="alias", value="", placeholder="Type your name here")	
		select(id="roomSelect", multiple="multiple", name="room")
			option(value="volvo") Volvo
			option(value="saab") Saab
			option(value="opel") Opel
			option(value="audi") Audi
		input(id="connectButton", class="button", type="submit", name="", value="Join")
	.clear
#loading
	p loading
#who
#log
#toolbar
	input(tabindex="1", type="text", id="entry")	