#connect
	div#fb-root
	#error
	#map_canvas	
	form#joinForm
		img(id="fbLogin", src="/images/facebook_connect.png")
		input(id="aliasInput", class="hidden", type="hidden", name="aliasInput")
		div(id="aliasDisplay",style="display:none;")
		select(id="roomSelect", name="room", size="2")
			optgroup Loading
		input(id="roomInput", class="text", type="text", name="roomInput", autocomplete="off", value="", placeholder="If your room wasn't listed above, enter it here.")
		input(id="joinButton", class="button", type="submit", name="", value="Join")
	.clear
#loading
	p loading
#who
	h4#roomtitle
	#whoTitle People nearby you:
	a(href='#').whoList
	ul#whoList

#log

#toolbar
	form#entryForm
		input(tabindex="1", type="text", id="entry")	