extends layout

block content
	#connect
		#error
		#map_canvas	
		form#joinForm
			//img(id="fbLogin", src="/images/facebook_connect.png")
			//div(class="fb-login-button", scope="email", size="large", data-show-faces="true", , data-max-rows="1") Login with Facebook
			input(id="aliasInput", class="text", type="text", autocomplete="off", value="", placeholder="Your screen name?", name="aliasInput")
			div(id="aliasDisplay",style="display:none;")
			select(id="roomSelect", name="room", size="2")
				optgroup Loading
			input(id="roomInput", class="text", type="text", name="roomInput", autocomplete="off", value="", placeholder="Choose a room from above or name a new one.")
			input(id="joinButton", class="button", type="submit", name="", value="Join")
		.clear
	#loading
		p loading

	#chat	
		#log
		#who
			h4#roomTitle
			#whoTitle Who's Here
			#whoList
		#toolbar
			form#entryForm 
				textarea(input tabindex="0", autocomplete="off", type="text ", id="entry", placeholder="Send your message here") 
				input(id="sendButton", class="button", type="submit", name="", value="Send")

				
