#map_canvas	
#connect
	form#aliasForm
		fieldset
			input(id="aliasInput", class="text", type="text", name="alias", value="", placeholder="Type your name here")
			input(id="connectButton", class="button", type="submit", name="", value="Join")
#loading
	p loading
#log

#toolbar
	input(tabindex="1", type="text", id="entry")	