#connect
	#error
	#map_canvas	
	form#joinForm
		input(id="aliasInput", class="text", type="text", name="alias", value="", placeholder="Type a username here, then select your location.")	
		select(id="roomSelect", name="room", size="2")
			optgroup(label="McCardell Bicentennial Hall")
			option(value="1234") Computer Science Lab - 632
			option(value="1234") Phyics Fishbowl - 534
			option(value="1234") Great Hall
			option(value="1234") Lecture Hall - 206
		input(id="joinButton", class="button", type="submit", name="", value="Join")
	.clear
#loading
	p loading
#who
#log
#toolbar
	input(tabindex="1", type="text", id="entry")	