#connect
	div#fb-root
	script
		window.fbAsyncInit = function() {
			FB.init({
				appId			:'262579080505640', // App ID
				channelUrl		: '/channel', // Channel File
				status			: true, // check login status
				cookies			: true, // enable cookies to allow the server to access the session
				xfbml			: true  // parse XFBML
			});
		};
		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));
	#error
	#map_canvas	
	form#joinForm
		div.fb-login-button
		select(id="roomSelect", name="room", size="2")
			optgroup Loading
		input(id="roomInput", class="text", type="text", name="roomInput", autocomplete="off", value="", placeholder="If your room wasn't listed above, enter it here.")
		input(id="joinButton", class="button", type="submit", name="", value="Join")
	.clear
#loading
	p loading
#who
	h4#roomtitle
	#whoTitle People nearby you:
	a(href='#').whoList
	ul#whoList

#log

#toolbar
	form#entryForm
		input(tabindex="1", type="text", id="entry")	