@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  border-top: 10px solid #3B8C3E;  
  padding: 4px 0 0 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body, #entry {
  color: #000;
}
body, table {
  font-size: 14pt;
}
tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
tr,td {
  width: auto;
}
table {
  line-height: 150%;
  padding:5px;
  border-radius: 5px;
  width:890px;
  background:rgba(255,255,255,0.7);
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0;
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }
::-moz-selection,
::selection {
  color: inherit;
  background: hsl(324, 96%, 50%)#ffffff;
}

.center {
  text-align: center;
}
.right {
  float:right;
}
#links {
  float: right;
}

#links a { margin-left: 10px; font-size: 10pt; }

#footer { font-size: 10pt; text-align: right; }

#flag {
  padding:0px 10px;
  font-weight:300;
  font-size:40px;
  letter-spacing:-1px;
  border-bottom: 1pt solid black;
  text-shadow:1px 1px 2px #fff;
}
#wrapper {
  width:960px;
  margin: 0 auto;
}
#loading, #connect {

  height: 100%;
  width: inherit;
  padding: 10px 0 0 0;
}

#loading, #log, #toolbar{ display:none; }

#connectButton {
  -moz-box-shadow:inset 0px 0px 0px -50px #bbdaf7;
  -webkit-box-shadow:inset 0px 0px 0px -50px #bbdaf7;
  box-shadow:inset 0px 0px 0px -50px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-size:14pt;
  font-weight:bold;
  padding:.5em;
  text-decoration:none;
  text-shadow:1px 1px 0px #528ecc;
  margin:0 0 0 4px;
}
#connectButton:hover {
  /*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');*/
  border:
  -moz-box-shadow: 0px 0px 4px #949494;
  -webkit-box-shadow: 0px 0px 4px #949494;
  box-shadow: 0px 0px 4px #949494;
  border:1px solid #4079B3;
  }
#connectButton:active {
  position:relative;
  top:1px;
}

#loading p, #connect fieldset  {
 /* font-family: "Helvetica Neue", sans-serif; */
  border: 0;
  text-align:center;
}

#toolbar {

  color: #fff;
  width: inherit; 
}


#entry {
  width: 100%;
  font-size: inherit;
  padding: 1em;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  clear: both;
  background:rgba(0,0,0,0.2);
  border-top:1pt solid black;
}
#entry:active,
#entry:focus {
  outline:none;
}
.clear { clear: both; height:0; margin:0; padding: 0; }

#log {
  /* enough padding to clear the toolbar.. is there a better way to do this? */
  padding-bottom: 5.1em; 
  background: inherit;
  overflow-x: visible;
  overflow-y: scroll;
  height:400px;
  background:rgba(255,255,255,0.7);
}
#who {
  float:right;
  width:200px;
  height: 400px;
  overflow-y:scroll;
  background:rgba(59, 140, 62,.4);
}
.person {
  padding:5px;
  display:block;
}
/* not very important info */
#aliasInput {
  font-size: 14pt;
  padding:.5em;
  font-weight:lighter;
  width: 448px;
  border: 1px solid #D6D6D6;
}

#roomSelect {
  margin-top: 10px;
  width: 470px;
  border: 1px solid #D6D6D6;
  font-size: 14pt;
  font-weight:lighter;
  width: 448px;
}

#roomSelect option {
  padding: 10px;
}

.notice td, .join td, .part td, .message { color: #555; }
.error td { color: #933; }
.personal .alias, .notice .alias { color: #cd5; }

.message {
  margin: 0;
  padding: 5px;
}

.message td {
  vertical-align: top;
}

.alias { 
  font-weight: bold;
  padding: 0 1em 0 0 0;
}

.alias a {
  color: inherit;
}

#joinForm {
  float:right;
  width: 470px;
  text-align: left;
}
#status {
    background: #733;
    clear:both;
}
#toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar li {
  display: inline-block; 
  margin: 0 2em 0 0;
}

#usersLink {
  color: inherit;
}

#map_canvas {
  width: 470px;
  height: 400px;
  float: left;
}
.message:hover .date {
  opacity:1;
}
.date {
  float:right;
  opacity:0;
  transition: opacity .8s ease-in;
  -moz-transition: opacity .8s ease-in;
  -webkit-transition: opacity .15s ease-in;
  -o-transition: opacity .8s ease-in;
  font-size: 10pt;
  color: #CCC;
}